.root{
    -fx-background-image: url("http://getwallpapers.com/wallpaper/full/e/e/b/1097112-gorgerous-cool-dark-background-1920x1200-ipad-retina.jpg");
    
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-text-fill: aliceblue;
}

.label{
    -fx-text-fill: aliceblue;
}

.button{
    -fx-text-fill: aliceblue;
    -fx-background-color: dimgrey;
}

.text-field{
    -fx-background-color: dimgrey;
    -fx-text-fill: aliceblue;
}

